*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navbar{
  background-color: black;
  color:white;
  border-radius: 10px;

}

a{
  text-decoration: none;
  color:white;
}
a:hover{
  color:blue;
  font-weight: bold;
}
.navbar ul{
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin:0 150px;
  align-items: center;
  padding:10px;
}
.navbar ul div{
  display: flex;
}
.navbar ul div li{
  margin-left: 14px;
}

.register{
  display: flex;
  flex-direction: column;
  margin:15px;
  padding:24px;
}
.register input{
  padding: 4px;
  margin: 4px;
  border-radius: 7px;
  border-bottom: 2px solid rgb(161, 89, 89);
}
.register button{
  padding: 4px;
  margin: 4px;
  border-radius: 7px;
  background-color: black;
  color:white;
  font-weight: bold;
  padding: 6px;
font-size: 1rem;
}